* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu;
  font-weight: 500;
}
#root {
  background-color: antiquewhite;
}
.app {
  min-height: 100vh;
}
/** nav section */
.header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 10px;
  align-items: center;
  padding: 10px 10px;
  backdrop-filter: blur(6px);
  height: 100px ;
}
.dummy-header {
  height: 100px;
}
.logo-container {
  border-radius: 50%;
  overflow: hidden;
}
.logo {
  width: 70px;
  transform: scale(1.25);
}
.nav-items {
  padding: 0px 20px;
}
.nav-items ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0px 20px;
}
.nav-items ul li {
  font-size: 24px;
  padding: 10px;
  margin: 10px;
}
.nav-items ul li a {
  text-decoration: none;
  color: black;
}
.login-btn {
  font-weight: 600;
  color: rgb(0, 173, 58);
  border: 2px solid rgb(0, 173, 92);
  background-color: #008f5b6e;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
  padding: 10px;
}
.body {
  padding: 10px 20px;
  min-height: 100vh;
}
/** filters section */
.filters {
  padding: 5px 30px;
  background-color: rgba(0, 0, 0, 0.313);
  z-index: 100;
  position: sticky;
  top: 100px;
  display: flex;
  justify-content: space-evenly;
  backdrop-filter: blur(6px);
  border-radius: 50px;
}
.search {
  display: flex;
  gap: 5px;
}
.search-box {
  background-color: #fff;
  height: 40px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
}
.search-box:focus {
  /* border: none; */
  outline: none;
  background-color: rgb(255, 250, 209);
}
.filter-btn {
  border: none;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid rgb(128, 0, 0);
  background-color: #ff6a6a5e;
  cursor: pointer;
  color: rgb(128, 0, 0);
  font-weight: 200;
}
.filter-btn:active {
  border: 2px solid black;
  transform: scale(1.02);
}
/** restraunts */
.res-container {
  padding-top: 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.res-top-div{
  position: relative;
}
.res-top-label{
  z-index: 10;
  position: absolute;
  top : 18px;
  background-color: black;
  color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
  text-transform: uppercase;
}
.res-top-label:hover {
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
}
.res-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 5px;
  width: 250px;
  min-height: 400px;
  margin: 7px;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 13px;
  transition-duration: 0.2s;
  color: black;
}
.res-card:hover {
  box-shadow: 0px 0px 5px black;
  transform: scale(1.05);
  cursor: pointer;
}
/* .res-card:hover + .res-top-label{
  transform: scale(1.05);
} */
.cousine-text {
  overflow: hidden;
  width: 1010%;
}
.res-logo {
  width: 100%;
  min-height: 235px;
  max-height: 235px;
  border-radius: 13px;
  box-shadow: 0px 2px 10px gray;
}
/** shimmer body */
.sh-res-container {
  padding-top: 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  /* height: 100vh; */
}
.sh-res-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 5px;
  width: 250px;
  min-height: 400px;
  margin: 7px;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 13px;
}
.sh-res-logo {
  width: 100%;
  min-height: 235px;
  max-height: 235px;
  border-radius: 13px;
  box-shadow: 0px 2px 10px gray;
  background-color: #919191;
}
.sh-text {
  height: 10px;
  background-color: #8a8a8a;
  border-radius: 50px;
}
.sht-1 {
  width: 100%;
}
.sht-2 {
  width: 90%;
}
.sht-3 {
  width: 80%;
}
/** restraunt details menu */
.menu-container {
  width: 82%;
  margin: auto;
  padding: 20px;
}
.res-menu-info {
  border-radius: 20px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}
.res-menu-text {
  font-size: 13px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.res-menu-text h1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.res-menu-text h1 span {
  font-size: 20px;
  padding-left: 12px;
}
.res-menu-img {
  width: 30%;
  max-width: 140px;
  border-radius: 20px;
}
.allAccords{
  margin: auto;
  width: 80%;
  min-width:350px;
}
.acord-container {
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.acord-header{
  background-color: powderblue;
  border-radius: 20px;
  font-weight: 900;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px; 
  cursor: pointer;
  box-shadow: 0px 3px 5px;
}
.acord-body{ 
  font-size: 12px;
  margin-top: 3px;
}
.menu-dish {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 2.3px solid gray;
}
.dish-info {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.dish-info h2 {
  padding: 5px 0px;
}
.dish-info h3 {
  max-width: 95%;
  color: rgb(76, 76, 76);
}
.imag-and-btn{
  position: relative;
  /* width: 20%; */
  margin: auto;
}
.imag-and-btn img{
  border-radius: 20px;
  max-width: 120px;
  min-width: 70px;
}
.add-to-cart-btn{
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: -10px;
  padding: 7px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px white;
}
.add-to-cart-btn:active{
  box-shadow: 0px 0px 20px white;
}
.cut-price{
  text-decoration:line-through;
  font-weight: 300;
}
/** About cards */
.about-container {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-card {
  /* margin: 20px; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.user-card img {
  height: 25vw;
  width: 25vw;
  min-height: 250px;
  min-width: 250px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px;
  margin: auto;
}
.text-info {
  padding: 10px;
}
.text-info h2 {
  margin: 5px;
}
.text-info h2 a {
  color: rgb(43, 103, 255);
  text-decoration: underline;
}
/** Cart */
.cart-container{
  text-align: center;
  margin: 10px;
  padding: 10px;
  max-width: 60%;
  margin: auto;
  min-width: 320px;
}
.cart-container h1{
  font-size: 25px;
  font-weight: bold;
}
.clear-cart-btn{
  font-weight: 600;
  color: rgb(173, 0, 0);
  border: 2px solid rgb(173, 0, 0);
  background-color: #8f00006e;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
  padding: 10px;
}
/** global */
a {
  text-decoration: none;
}

/** media querries */
@media screen and (max-width: 700px) {
  .header {
    width: 100vw;
    display: flex;
    justify-content:center;
    /* flex-wrap: wrap; */
    height: 50px;
    padding: 0px;
  }
  .dummy-header {
    height: 50px;
  }
  .logo-container {
    width: 30px;
    height: 30px;
    transform: scale(1.2);
  }
  .logo {
    width: 30px;
    height: 30px;
  }
  .nav-items {
    width: 70%;
    padding: 0px;
    margin: 0px;
    transform: scale(0.5);
  }
  .grocery-link{
    display: none;
  }
  .filters{
    top: 55px;
    transform: scale(1.1);
  }
  .search {
    gap: 0px;
  }
  .search-box {
    width: 80%;
    transform: scale(0.82);
    padding: 5px;
  }
  .search-box::placeholder{
    font-size:11px;
  }
  .search-box:focus {
    transform: scale(0.8);
  }
  .filter-btn {
    transform: scale(0.8);
    margin: 0;
    padding: 3px;
  }
  .reset-btn{
    display: none;
  }
  .menu-container {
    padding: 10px;
  }
  .res-menu-info {
    font-size: 14px;
    padding: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
  }
  .res-menu-img{
    height: 160px;
    width: 160px;
  }
  .res-dishes-container span {
    font-size: 23px;
  }
  .res-dishes-container{
    padding: 10px;
    font-size: small;
  }
  .dish-info{
    width: 95%;
  }
}
